DB_HOST=hostdoseubanco
DB_NAME=nomedoseubanco
DB_USER=usuariodoseubanco
DB_PASS=senhadoseubanco

MAIL_HOST=smtp.dominio.com
MAIL_USER=contato@seudominio.com.br
MAIL_PASS=SuaSenhaForteAqui123!
MAIL_PORT=porta

ONESIGNAL_APP_ID=seuAppId
ONESIGNAL_REST_API_KEY=SuaSenhadaRestAPI